body {
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 300px;
  padding: 10px;
}
#castles {
  display: none;
}

.clickable{
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover{
  text-decoration: underline;
}
